.city {
    font-size: 32px;
}

.date {
    font-size: 16px;
}

.container-temp {
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 100px;
    font-weight: 700;
    text-shadow: 3px 6px #00000033;
    background-color: #5f9cec;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
    border-radius: 15px;
}

.weather {
    font-size: 32px;
}

.low-high {
    font-size: 22px;
}

.card {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: #b9d4f8;
}